name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup scala-cli
        uses: VirtusLab/scala-cli-setup@v1
        with:
          scala-cli-version: "1.9.1"

      - name: Compile
        run: scala-cli compile .

      - name: Run tests
        run: scala-cli test .
